/* Universal Code */

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

body {
  text-align: center;
}


/* Header */

.header {
  font-size: 1rem;
  background-color: black;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 2rem;
  flex-direction: row;
  justify-content: center;
}

header {
  width: 960px;
  display: inline-flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header p {
  margin: 0.66rem;
}

/* Banner */

.banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
}

.banner .container {
  width: 960px;
}
